/* EVENTS */

@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
    overflow-x: hidden;
}

.eventContainer {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 98.17%;
    background: #404554;
    height: 72px;
    width: 100vw;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.nextBigEvent {
    /* NEXT BIG EVENT: */
    position: absolute;
    left: 166px;
    top: 25px;
    font-family: Neuton;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.dateE {
    font-weight: 400;
}

.dateEvent {
    /* Date: Saturday 21st, 2021. */
    position: relative;
    left: 392px;
    top: 25px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.timeE {
    font-weight: 400;
}

.timeEvent {
    position: absolute;
    left: 615px;
    top: 25px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.locationE {
    font-weight: 400;
}

.locationEvent {
    position: absolute;
    left: 764px;
    top: 25px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.closeEvent {
    position: absolute;
    left: 1217px;
    top: 25px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.closeIcon {
    position: absolute;
    left: 1264px;
    top: 25px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    line-height: 21px;
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .eventContainer {
        width: 100%;
    }
    .nextBigEvent {
        left: 20px;
        top: 15px;
    }
    .dateEvent {
        left: 160px;
        top: 15px;
    }
    .timeEvent {
        left: 20px;
        top: 40px;
    }
    .locationEvent {
        display: none;
    }
    .closeEvent {
        left: 260px;
        top: 40px;
    }
    .closeIcon {
        left: 300px;
        top: 40px;
    }
}


/* END OF EVENTS.. */
